.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    gap: 3px;
    background-color: gray;
    padding: 2px;
  }
  
  .grid-container > div {
    background-color:whitesmoke;
    text-align: center;
    padding: 5px 0;
    font-size: 20px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
 .addnewbtn{
  display: flex;
  justify-content: space-between;
   padding: 0px 50px; 
  
 }
 .empdash{
  background-color: whitesmoke;
  border-radius: 10px;

 }
 .emp{
  padding: 20px;
 
 }
 .table{
  border: 1px solid black;
  border-collapse: collapse;
  
 }
 td{
  text-align: center;


 }
 th{
  text-align: center;

 }
td button:hover{
  transform: scale(1.2);
}